.btn {
  display: inline-flex;
  justify-content: center;
  min-width: 140px;
  padding: 11px 23px;

  font-size: 14px;
  line-height: 20px;
  color: $color-eclipse;

  background-color: $color-energy-yellow;
  border: 1px solid $color-buddha-gold;
  border-radius: 20px;
  cursor: pointer;

  transition: background-color $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--restyled {
    border-radius: 10px;
  }

  @include hover-focus {
    color: inherit;
    background-color: $color-buddha-gold;
  }

  @include vp-375 {
    min-width: 165px;

    &--restyled {
      min-width: 190px;
    }
  }

  @include vp-1024 {
    min-width: 190px;
    padding: 15px 31px;

    font-size: 18px;

    &--restyled {
      min-width: 230px;
    }
  }
}
