mixin header(headerMods, currentUrl)

  -
    const logo = {
      name: "logo",
      type: "svg",
      width: 130,
      height: 60,
      alt: "На главную",
    }

  header.header(class=headerMods)
    .container.header__container
      a.header__logo(href="main.html")
        +img(logo).header__logo-img
      a.header__link(href="main.html") К списку страниц
