mixin header(headerMods, currentUrl)

  -
    const logo = {
      name: "logo",
      type: "svg",
      width: 130,
      height: 60,
      alt: "Sborka Project logo",
    }

  header.header(class=headerMods)
    .container.header__container
      a.header__logo(
        href="https://sborkaproject.ru/",
        target="_blank",
        rel="nofollow noopener noreferrer"
      )
        +img(logo).header__logo-img
      a.header__link(href="index.html") К списку страниц
