-
  const offers = [
    {
      cover: {
        name: "offer-01",
        type: "jpg",
        width: 473,
        height: 369,
        alt: "Прекрасный вид",
      },
      badge: {
        content: "Новинка",
      },
      duration: "2 часа",
      title: "<strong>Акция</strong> - Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2019",
      features: [
        "Билет на целый день",
        "Неограниченное число катаний",
        "6 остановок у главных достопримечательностей",
      ],
      nearestDepartures: [
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
      ],
      price: "900 ₽",
      hotPrice: "1200 ₽ на причале",
    },
    {
      cover: {
        name: "offer-02",
        type: "jpg",
        width: 472,
        height: 369,
        alt: "Прекрасный вид",
      },
      badge: {
        content: "Новинка",
        txt: "#3e3e3e",
        bgc: "#ffd83b",
      },
      duration: "2 часа",
      title: "<strong>Акция</strong> - Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2019",
      features: [
        "Билет на целый день",
        "Неограниченное число катаний",
        "6 остановок у главных достопримечательностей",
      ],
      nearestDepartures: [
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
      ],
      price: "900 ₽",
    },
    {
      cover: {
        name: "offer-03",
        type: "jpg",
        width: 467,
        height: 368,
        alt: "Прекрасный вид",
      },
      duration: "2 часа",
      title: "<strong>Акция</strong> - Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2019",
      features: [
        "Билет на целый день",
        "Неограниченное число катаний",
        "6 остановок у главных достопримечательностей",
      ],
      nearestDepartures: [
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
      ],
      price: "900 ₽",
      hotPrice: "1200 ₽ на причале",
    },
    {
      cover: {
        name: "offer-04",
        type: "jpg",
        width: 341,
        height: 284,
        alt: "Прекрасный вид",
      },
      badge: {
        content: "Новинка",
        txt: "#323232",
        bgc: "#fed74b",
      },
      duration: "2 часа",
      title: "<strong>Акция</strong> - Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2019",
      features: [
        "Билет на целый день",
        "Неограниченное число катаний",
        "6 остановок у главных достопримечательностей",
      ],
      nearestDepartures: [
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
      ],
      price: "900 ₽",
      hotPrice: "1200 ₽ на причале",
    },
    {
      cover: {
        name: "offer-04",
        type: "jpg",
        width: 341,
        height: 284,
        alt: "Прекрасный вид",
      },
      badge: {
        content: "Новинка",
      },
      duration: "2 часа",
      title: "<strong>Акция</strong> - Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2019",
      features: [
        "Билет на целый день",
        "Неограниченное число катаний",
        "6 остановок у главных достопримечательностей",
      ],
      nearestDepartures: [
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
        {
          human: "12:00",
          robot: "T12:00:00",
        },
      ],
      price: "2900 ₽",
      hotPrice: "4200 ₽ на нашем шикарном причале",
      mods: ["restyled"],
    },
  ]
